automation/n8n-workflows/newsletter-reminder.json
{
  "name": "Newsletter Reminder — Bi-Weekly",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 2"
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Every Tuesday 9am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// Only fire every other Tuesday (bi-weekly)\nconst now = new Date();\nconst startDate = new Date('2026-03-18'); // First send date\nconst msSinceStart = now - startDate;\nconst weeksSinceStart = msSinceStart / (7 * 24 * 60 * 60 * 1000);\nconst isEvenWeek = Math.floor(weeksSinceStart) % 2 === 0;\n\nif (!isEvenWeek) {\n  return [{ json: { skip: true, reason: 'Not a newsletter week' } }];\n}\n\nconst today = now.toISOString().split('T')[0];\nreturn [{ json: { send: true, date: today } }];"
      },
      "id": "biweekly-check",
      "name": "Bi-Weekly Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.send }}",
              "value2": true
            }
          ]
        }
      },
      "id": "if-send",
      "name": "Is Newsletter Week?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "fromEmail": "keneshia@fgragent.com",
        "toEmail": "keneshia@fgragent.com",
        "subject": "📬 Newsletter Due This Week — Time to Draft!",
        "emailType": "html",
        "message": "<h2>Newsletter Reminder</h2><p>It's bi-weekly newsletter week! Here's your checklist:</p><ol><li>Open Claude Code and run <code>/draft-newsletter</code></li><li>Review the draft in Airtable → Newsletter Content tab</li><li>Set status to <strong>Approved</strong></li><li>In GHL: Email Marketing → Campaigns → New Campaign</li><li>Send list: contacts with tag <code>newsletter-welcome-complete</code></li><li>Schedule for Tuesday or Thursday 9am ET</li></ol><p><strong>This week's send date:</strong> {{ $('Bi-Weekly Check').item.json.date }}</p><p><a href='https://airtable.com/appTFBJkeI2RrA14P' style='background:#c9a96e;color:#0a1628;padding:12px 24px;border-radius:24px;text-decoration:none;font-weight:bold;display:inline-block;margin-top:8px'>Open Airtable →</a></p>"
      },
      "id": "send-reminder-email",
      "name": "Email Keneshia Reminder",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [900, 220]
    },
    {
      "parameters": {
        "operation": "create",
        "application": "appTFBJkeI2RrA14P",
        "table": "Content Calendar",
        "additionalFields": {
          "fields": {
            "Title": "Newsletter — {{ $('Bi-Weekly Check').item.json.date }}",
            "Content Type": "Newsletter",
            "Status": "Draft",
            "Scheduled Date": "={{ $('Bi-Weekly Check').item.json.date }}"
          }
        }
      },
      "id": "airtable-entry",
      "name": "Create Airtable Draft Entry",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [900, 380]
    }
  ],
  "connections": {
    "Every Tuesday 9am": {
      "main": [[{ "node": "Bi-Weekly Check", "type": "main", "index": 0 }]]
    },
    "Bi-Weekly Check": {
      "main": [[{ "node": "Is Newsletter Week?", "type": "main", "index": 0 }]]
    },
    "Is Newsletter Week?": {
      "main": [
        [
          { "node": "Email Keneshia Reminder", "type": "main", "index": 0 },
          { "node": "Create Airtable Draft Entry", "type": "main", "index": 0 }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
